@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210.0000 40.0000% 98.0392%;
    --foreground: 228.5714 84.0000% 4.9020%;
    --card: 0 0% 100%;
    --card-foreground: 228.5714 84.0000% 4.9020%;
    --popover: 0 0% 100%;
    --popover-foreground: 228.5714 84.0000% 4.9020%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210.0000 40.0000% 96.0784%;
    --secondary-foreground: 222.2222 47.3684% 11.1765%;
    --muted: 210.0000 40.0000% 96.0784%;
    --muted-foreground: 215.3846 16.3180% 46.8627%;
    --accent: 210.0000 40.0000% 96.0784%;
    --accent-foreground: 222.2222 47.3684% 11.1765%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 210.0000 40.0000% 98.0392%;
    --border: 214.2857 31.8182% 91.3725%;
    --input: 214.2857 31.8182% 91.3725%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 270.7407 91.0112% 65.0980%;
    --chart-3: 160.1183 84.0796% 39.4118%;
    --chart-4: 37.6923 92.1260% 50.1961%;
    --chart-5: 0 84.2365% 60.1961%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 228.5714 84.0000% 4.9020%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210.0000 40.0000% 96.0784%;
    --sidebar-accent-foreground: 222.2222 47.3684% 11.1765%;
    --sidebar-border: 214.2857 31.8182% 91.3725%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 225 66.6667% 2.3529%;
    --foreground: 210.0000 40.0000% 98.0392%;
    --card: 228 33.3333% 5.8824%;
    --card-foreground: 210.0000 40.0000% 98.0392%;
    --popover: 228 33.3333% 5.8824%;
    --popover-foreground: 210.0000 40.0000% 98.0392%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220.9091 39.2857% 10.9804%;
    --secondary-foreground: 210.0000 40.0000% 98.0392%;
    --muted: 220.9091 39.2857% 10.9804%;
    --muted-foreground: 215.0000 20.2247% 65.0980%;
    --accent: 217.2414 32.5843% 17.4510%;
    --accent-foreground: 210.0000 40.0000% 98.0392%;
    --destructive: 0 62.8205% 30.5882%;
    --destructive-foreground: 210.0000 40.0000% 98.0392%;
    --border: 217.2414 32.5843% 17.4510%;
    --input: 217.2414 32.5843% 17.4510%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 270.7407 91.0112% 65.0980%;
    --chart-3: 142.0859 70.5628% 45.2941%;
    --chart-4: 45.3982 93.3884% 47.4510%;
    --chart-5: 330.3659 81.1881% 60.3922%;
    --sidebar: 216 33.3333% 2.9412%;
    --sidebar-foreground: 210.0000 40.0000% 98.0392%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217.2414 32.5843% 17.4510%;
    --sidebar-accent-foreground: 210.0000 40.0000% 98.0392%;
    --sidebar-border: 217.2414 32.5843% 17.4510%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-blur: 20px;
    --shadow-spread: 2px;
    --shadow-opacity: 0.5;
    --shadow-color: #000000;
    --shadow-2xs: 0px 10px 20px 2px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 10px 20px 2px hsl(0 0% 0% / 0.25);
    --shadow-sm: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
    --shadow: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
    --shadow-md: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 2px 4px 1px hsl(0 0% 0% / 0.50);
    --shadow-lg: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 4px 6px 1px hsl(0 0% 0% / 0.50);
    --shadow-xl: 0px 10px 20px 2px hsl(0 0% 0% / 0.50), 0px 8px 10px 1px hsl(0 0% 0% / 0.50);
    --shadow-2xl: 0px 10px 20px 2px hsl(0 0% 0% / 1.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

